*{padding: 0%; margin: 0%; box-sizing: border-box;}

/** Barra de Navegación **/

header {
    background-image: url(../img/background-nav.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 600px;
}

.navBar h1 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBar ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

.navBar ul li {
    display: inline-block;
    margin: 3rem 0.5rem 0 0.5rem;
    transition: all 0.5s;
}

.navBar {
    background-color: rgba(0, 0, 0, 0.1);
    position: fi;
    width: 100%;
    padding-bottom: 1.5rem;
}

.link:hover{
    color: rgb(0, 108, 116);
}

.menu:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1) ;
}



/** Información **/

.informacion {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.informacion__titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    color: rgb(0, 108, 116);
    margin-top: 3rem;
}

.informacion__texto {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
}


/** Productos index **/

.productos__bloque1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos__bloque-elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.productos img {
    padding-bottom: 1rem;
}

.productos p {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0 5rem 0;
}

.productos__boton {
    text-decoration: none;    
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    border: 0.1rem;
    border-style:groove;
    border-color: rgb(0, 0, 0);
    padding: 0.5rem;
    transition: all 0.6s;
}

.productos__boton:hover {
    background-color: black;
    color: #FFFFFF;
    transform: scale(1.2);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1) ;
}

/** CONTAINER GRID PADRE**/

.grid-contenedor-padre{
    display: grid;
    grid-template-columns: 1fr;
}



/** Texto Quiénes somos **/


.texto {
    margin: 4rem 2rem 4rem 2rem ;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
}

.texto p {
    padding-bottom: 2rem;
    line-height: 1.7rem;
}

.grid-contenedor-about{
    display: grid;
    grid-template-columns: 1fr;
}


/** Página produtos **/



.productos__titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: rgb(0, 108, 116);
    text-align: center;
    padding-bottom: 5rem;
    margin-top: 3rem;
}

.productos_pagindividual p {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
    grid-area: productosp;
}

/**
.productos__bloque{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
**/


.productos__bloque-elemento1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.elemento1{grid-area: elemento1;}
.elemento2{grid-area: elemento2;}
.elemento3{grid-area: elemento3;}
.elemento4{grid-area: elemento4;}
.elemento5{grid-area: elemento5;}
.elemento6{grid-area: elemento6;}
.elemento7{grid-area: elemento7;}
.elemento8{grid-area: elemento8;}



/** Galería **/

.informacion2{
    text-align: justify;
}

.informacion2 h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        color: rgb(0, 108, 116);
        text-align: center;
        padding-bottom: 1rem;
        margin-top: 3rem;
}

.informacion__lista {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    text-align: center;
    margin: 0 5rem 0 5rem;
    padding-top: 1.5rem;

}

.informacion__lista-item {
    padding-bottom: 1rem;
}

.informacion {
    margin-bottom: 3rem;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    border: 0.1rem;
    border-top-style:groove;
    border-color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}


/** Contacto **/

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.formulario ul li {
    list-style-type: none;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    color: #797979;
    margin-bottom: 2rem;
    border: 0.1rem;
    border-style:groove;
    border-color: rgb(0, 0, 0);
}

.mensaje {
    padding: 1rem 20rem 1rem 1rem;
}

.mensaje-contacto {
    padding: 1rem 20rem 12rem 1rem;
}

.contacto { 
    margin-bottom: 4rem;
    text-align: center;
    font-size: 1rem
}

/** Footer **/

footer {
    background-color: black;
    color: #FFFFFF;
    padding: 1.3rem 0 1.5rem 0;
    justify-content: center;
}

.footer__huellas h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer__huellas p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}

.footer__info h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.footer__info ul li a {
    list-style-type: decimal;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
}

.footer__redes h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.footer__redes div a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.8rem;
}

.footer-section {

    display: grid;
    grid-template-columns: 1fr;
    /**
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 10rem;
    **/
}

.footer__redes-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.footer__redes-item img {
    padding-right: 0.6rem;
}


@media screen and (min-width: 768px) {

    .container_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "container1 container2"
        "container1 container3";
        margin-bottom: 8rem;
    
  
    }

    .productos__bloque{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "elemento1 elemento2" 
        "elemento3 elemento4"
        "elemento5 elemento6"
        "elemento7 elemento8";
    }

    
    .footer-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 1rem;
        margin-right: 10rem;

    }


    .texto {
        margin: 4rem 10rem 4rem 10rem ;
    }


    .informacion__lista-item {
        padding-bottom: 1rem;
        padding-left: 8rem;
        text-align: justify;
    }

    .imagenes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 6rem 3rem 6rem;
        padding-top: 2rem;
        border: 0.1rem;
        border-top-style:groove;
        border-color: rgb(0, 0, 0);
    }

    .mensaje {
        padding: 1rem 30rem 1rem 1rem;
    }
    
    .mensaje-contacto {
        padding: 1rem 30rem 12rem 1rem;
    }
}

@media screen and (min-width: 1200px){

    header{
        grid-area: header;
        margin-bottom: 8rem;
    }


    .informacion__titulo {
        font-size: 2.2rem;
        color: rgb(0, 108, 116);
        margin-top: 0%;
    }

    .informacion h3 {
        margin-top: 3rem;
    }
    
    .informacion__texto {
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .informacion ul li {
        list-style-type: none;
        text-decoration: none;
        padding: 0%;
    }

    .informacion ul{
        display: flex;
        flex-direction: column;
    }

    .productos{ 
        grid-area: productos;
    }

    footer{
        grid-area: footer;
    }


    .productos__bloque{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "elemento1 elemento2 elemento3 elemento4"
        "elemento5 elemento6 elemento7 elemento8";

    }

    .productos__titulo {
        margin-top: 0%;
    }

    .texto {
        margin: 8rem 20rem 8rem 20rem ;
    }


    .mensaje {
        padding: 1rem 35rem 1rem 1rem;
    }
    
    .mensaje-contacto {
        padding: 1rem 35rem 12rem 1rem;
    }

}

